.list-enter-active,
.list-leave-active,
.list-move {
  transition: .75s ease;
  transition-property: transform;
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  transform: translateX(-100%);
  transform-origin: center left;
}
